.dashboard {
  margin-top: 50px;
  margin-left: rem(255);
  margin-right: rem(10);
  display: flex;
  flex-wrap: wrap;
  position: absolute;

  &-main {
    text-align: center;
  }

  &-section {
    margin-left: rem(255);
    text-align: center;

    h1 {
      margin-top: rem(70);
      font-weight: bold;
      text-transform: uppercase;
      font-size: rem(30);
      margin-bottom: rem(20);
    }
  }

  &-nosite {
    @extend .dashboard-section;

    h1 {
      margin-top: rem(300);
    }
  }
}



