* {
  box-sizing: border-box;
}

body {
  font-family: $font1;
  background-color: $light-grey;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font2;
}

h1 {
  font-size: rem(24);
}

h2 {
  font-size: rem(16);
}

p {
  line-height: 1.5em;
}

li,
ul {
  list-style-type: none;
}

figure {
  margin: 0;
  padding: 0;
}

.container {
  max-width: $container;
  margin: auto;
  padding: rem(10);
  position: relative;
}

.clearfix::before {
  content: '';
  display: table;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.vertically-centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.select {
  outline: none;
  display: flex;
  width: 80%;
  padding: 7px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  height: 45px;
  text-align: center;
  margin-left: 10%;
}

main {
  min-height: 90vh;
}

main > section {
  padding: rem(35) 0;
}

textarea {
  resize: none;
}

.text-center {
  text-align: center;
}

.text-upercase {
  text-transform: uppercase;
}