/* Declaration de row */

.row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/*Déclaration des styles sm*/

@for $i from 1 through $columns {
  .col-sm-#{$i} {
    flex-basis: (100 / ($columns / $i) ) * 1%;
  }
}

/*Si l'écran fait la taille md rem(1200), les class col-md changent*/

@media screen and (min-width: $container) {
  @for $i from 1 through $columns {
    .col-md-#{$i} {
      flex-basis: (100 / ($columns / $i) ) * 1%;
    }
  }
}