//Section1//
#section1 {
  height: rem(644);
  background-image: url('../../../images/apple_home.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;

  &-templates {
    @extend #section1;
    background-image: url('../../../images/img-meduse.jpg');
  }
  .container {
    height: 100%;
    position: relative;
  }
  h1 {
    font-weight: rem(900);
    font-size: rem(50);
    text-align: center;
    justify-content: center;
  }
  h2 {
    color: white;
    font-size: rem(30);
    padding-bottom: rem(40);
  }
}

//Section2//
#section2 {
  div {
    margin-top: rem(65);
    background-color: $white;
    text-align: center;
  }
}

// section de commentaires
.comments {
  div {
    width: 100%;
    border-radius: 10px black;
    text-align: justify;
  }

  h2 {
    text-align: center;
  }

  p {
    text-align: justify;
  }

  a {
    float: right;
  }

  input {
    float: center;
  }
}

/*
  Page les Templates
*/

// Section : Les templates du mois
#templateMonth {
  text-align: center;
  color: $dark-blue;
  background-color: white;
  letter-spacing: 1px;
  padding-top: 2em;
  padding-bottom: 1.5em;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(350);
  height: rem(250);
  margin-top: 2em;
  box-shadow: 0 0 0.5rem 0 rgba(190, 170, 169, 1);
  transition: 0.3s;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-image:hover {
  transform: translateY(-1rem);
  box-shadow: 0 0 3rem 0 rgba(190, 170, 169, 1);
}

.hero-image:nth-child(1) {
  background-image: url('../../../images/tableau1.jpg');
}
.hero-image:nth-child(2) {
  background-image: url('../../../images/exemplesite2.jpg');
}
.hero-image:nth-child(3) {
  background-image: url('../../../images/exemplesite3.jpg');
}

// Section : Les Templates
#lesTemplates {
  text-align: center;
  color: $dark-blue;
  background-color: white;
  padding-bottom: 1.25em;
}

.tpl-search {
  display: flex;
  padding: 10px;
  font-size: 0.9em;
  color: black;
  background-color: lightgrey;
  border-radius: 3em;
  width: auto;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

#searchTemplate {
  width: 30%;
  margin: rem(5);
  border-radius: rem(20);
  text-align: center;
  border-color: $dark-blue;
}

.search-label {
  font-size: 1.5em;
  padding-top: 0.4em;
}

/* 

  Template utilisateur

*/

//Section1//
#hero-blablaArt {
  height: rem(780);
  background-image: url('../../../images/banniere1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  font-family: $font3;
}

#hero-blablaArt .container {
  height: 100%;
  position: relative;
}

#hero-blablaArt h1 {
  display: float;
  font-size: rem(40);
  text-align: center;
  margin-top: 10em;
}

// section : oeuvres presentes
#oeuvres-presentes {
  text-align: center;
  color: #820e0e;
  letter-spacing: 1px;
  padding-top: 2em;
}

.feature-oeuvres-presentes {
  display: flex;
  justify-content: space-between;
}

.image-oeuvres-presentes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin-top: rem(2);
  transition: 0.3s;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 0.2em;
  margin-right: 0.2em;
  border-radius: 0.5em;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image-oeuvres-presentes:hover {
  transform: translateY(-1rem);
  box-shadow: 0 0 3rem 0 rgba(190, 170, 169, 1);
}

.image-oeuvres-presentes:nth-child(1) {
  background-image: url('../../../images/oeuvre1.jpg');
  margin-top: auto;
}
.image-oeuvres-presentes:nth-child(2) {
  background-image: url('../../../images/oeuvre3.jpg');
  height: 350px;
}
.image-oeuvres-presentes:nth-child(3) {
  background-image: url('../../../images/oeuvre2.jpg');
  margin-top: auto;
}

// Section : Appercu (Slider)

#apercu {
  color: #820e0e;
  display: flex;
}
