$text-color: #444;
$light-grey: #f2f2f2;
$white: #fff;
$green: #31aa65;
$red: #ce0a0b;
$red-gmail: #F14336;
$black-transparent: rgba(0,0,0,0.6);
$blue: #005F95;
$blue2: #004E84;
$gray: #909090;
$lightblue: #8fb9d0;
$dark: #000;
$dark-blue: #012470;
$blue-fb: #3b5998;
$orange: #c55100;
$blue-white: #0081c5;
$red-bordeau: #380000;
$yellow-error: #fdb62e;
$yellow: #fff3cd;
$dark-yellow: #856404;

/* Déclaration du nombre de colonne */
$columns: 12;

/* Déclaration de variables taille*/
$container: rem(1200);
