<h1 style="text-align: center;"><span style="text-decoration: underline;">Page principale</span></h1>
<p><span style="text-decoration: underline;"></span></p>
<p><span style="text-decoration: underline;"></span></p>
<p style="text-align: center;">Voici la page principale de votre site, que vous pouvez &eacute;diter une fois connect&eacute;</p>
<p><span style="text-decoration: underline;"></span></p>
<p><span style="text-decoration: underline;"></span></p>