.alert {
  padding: 5px;
  width: 80%;
  margin-left: 10%;
  text-align: left !important;

  &-warning {
    color: $dark-yellow;
    background-color: $yellow !important;
  }

  & li {
    list-style-type: disc;
  }
}
