.button {
	color: $white;
	background-color: $dark;
	border: 2px solid $white;
	border-radius: rem(25);
	padding: rem(10) rem(20);
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	font-size: rem(12);
	letter-spacing: 0.05em;
	transition: background-color 0.3s;
	margin: rem(5);

	&:hover {
		color: $dark;
		background-color: $white;
		border: 2px solid $dark;
	}

	&-blue {
		@extend .button;
		color: $white !important;
		background-color: $blue-white !important;
		border: 2px solid $blue-white !important;

		&:hover {
			color: $dark !important;
			background-color: $white !important;
			border: 2px solid $blue-white !important;
		}
	}

	&-whiteBlue {
		@extend .button;
		display: inline-block;
		margin-bottom: 1.5em;
		font-size: 1.125em;
		font-weight: bolder;
		background-color: $blue-white;

		&:hover{
			width: auto;
			display: inline-block;
			color: $dark;
		}
	}

	&-orange {
		@extend .button;
		color: $white;
		background-color: $orange;
		border: 2px solid $orange;

		&:hover {
			color: $dark;
			background-color: $white;
			border: 2px solid $orange;
		}
	}

	&-social{
		@extend .button;
		width: 80%;
		font-size: rem(11);
	}

	&-fb {
		@extend .button-social;
		color: $white;
		background-color: $blue-fb;
		border: 2px solid $blue-fb;

		&:hover {
			color: $blue-fb;
			background-color: $white;
			border: 2px solid $blue-fb;
		}
	}

	&-git {
		@extend .button-social;
		color: $white;
		background-color: $dark;
		border: 2px solid $dark;

		&:hover {
			color: $dark;
			background-color: $white;
			border: 2px solid $dark;
		}
	}

	&-gmail {
		@extend .button-social;
		color: $white;
		background-color: $red-gmail;
		border: 2px solid $red-gmail;

		&:hover {
			color: $red-gmail;
			background-color: $white;
			border: 2px solid $red-gmail;
		}
	}

	&-returnBack{
		@extend .button;
		color: $dark;
		background-color: $yellow-error;
		border: 2px solid $dark;

		&:hover {
			color: $yellow-error;
			background-color: $dark;
			border: 2px solid $yellow-error;
		}
	}
	
	&-center{
		margin : 0 auto;
		width: rem(200);
		display: block;
		text-align: center;
	}
	&-dasboardplus{
		margin-right: rem(100);
		float: right;
		color: $blue;
		padding: rem(5);
	}

	&-mysite {
		@extend .button;
		font-weight: bold;
		background-color: $blue-white;

		&:hover{
			width: auto;
			color: $blue;
			border: none;
		}
	}
}

.button-fb img,
.button-gmail img,
.button-git img {
	position: absolute;
	margin: rem(-3) auto auto rem(-10);
	width: rem(20);
}

.button-fb>span,
.button-gmail>span,
.button-git>span {
	margin-left: 15px;
}

#save_page_button {
	position: absolute;
	height: 45px;
	width: 45px;
	top: 0;
	right: 0;
	border-radius: 10px;
	cursor: pointer;
}

#save_page_button:hover {
	background-color: #AAA;
}

@media screen and (max-width: 960px) {

	.button-fb,
	.button-gmail,
	.button-git {
		font-size: rem(10);
	}
}