.dropdown {
  position: relative;
  display: inline-block;
  padding-right: 5px;

  &-content {
    display: none;
    position: absolute;
    margin-top: rem(24);
    background-color: #ddd;
    width: 160px;
    padding: 12px 0;
    z-index: 10;

    a {
      color: $dark !important;
    }

    &:hover {
      background-color: $white !important;
    }
  }

  &:hover .dropdown-content {
    display: block;
  }
}