.form-style input:not([type="submit"]),
.form-style textarea,
.form-style select
{
  outline: none;
  display: flex;
  width: 80%;
  padding: 7px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  height: 45px;
  text-align: center;
  margin-left: 10%;
}
