.header {
	color: $white;
	width: 100%;

	ul {
		list-style-type: none;

		a {
			color: $white;
			text-decoration: none;
		}
	}

	&-front {
		background-color: $dark;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		height: rem(60);

		.logo {
			float: left;
			position: absolute;
			top: 30%;

			img {
				padding: 0 rem(10) 0 rem(10);
				width: rem(150);
				height: rem(50);
			}
		}

		nav {
			position: absolute;
			top: 85%;
			&.left {
				left: 0;
			}
			&.right {
				right: 0;
			}
			a {
				padding: 1.5em 1em;

				&:not(.nohover):hover {
					background-color: #ddd;
					color: black;
				}
			}

			li {
				float: left;
				list-style: none;
			}

			ul {
				margin: 0;
				padding: 0;
			}
		}

		.inactiveLink {
			pointer-events: none;
			cursor: default;
		}
	}

	&-back {
		background-color: $blue;
		position: fixed;
		z-index: 20;

		ul {
			height: 50px;
			padding: 0 30px;
			margin: 0;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		img {
			width: 35px;
			height: 35px;
			transform: scaleX(-1);
			cursor: pointer;
			&:hover {
				background-color: $blue2;
			}
		}
	}
}