.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 30, 53, 0.6635);
  text-align: center;

  h1 {
    text-decoration-line: underline;
    margin-top: 0;
  }
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  border-radius: 20px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

  &:hover,&:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  &-siteplus {
    @extend .close;
  }

  &-login {
    @extend .close;
  }

  &-register {
    @extend .close;
  }
}

@media screen and (max-width: $container) {
  .inscription-image{
    display: none !important;
  }
}

.inscription-image{
  width: rem(250);
  height: rem(250);
}