.select {
  outline: none;
  display: flex;
  width: 80%;
  padding: 7px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  height: 45px;
  text-align: center;
  margin-left: 10%;

  &-role {
    @extend .select;
    background-color: $white;
    color: $dark;
    padding: rem(8);
    font-size: rem(20);
    border: 1px solid $dark;
    text-transform: uppercase;
  }
}
