.sidebar {
	height: calc(100% - 50px);
	margin-top: 50px;
	width: rem(245);
	position: fixed;
	float: left;
	background-color: $white;
	box-shadow: -3px 0 8px 0 #555;
	ul {
		list-style-type: none;
		padding: 0 20px;

		&:nth-child(1) li {
			padding: 10px 0;

			a {
				text-decoration: none;
				color: $blue;
				font-size: rem(18);
				border-radius: 14px;
				padding: 15px 30px;
				display: block;

				i {
					width: 15px;
					margin-right: 25px;
				}

				&:hover {
					background-color: $lightblue;
					width: auto;
					border-radius: 14px;
					color: $white;
				}

				&.active {
					width: auto;
					background-color: $blue;
					color: $white !important;
				}
			}
		}

		&:nth-child(2) {
			position: absolute;
			width: 100%;
			bottom: 50px;
			display: flex;
			flex-direction: row;
			justify-content: center;

			li {
				padding: 10px;
				color: $blue;

				&:hover {
					background-color: $lightblue;
					color: $white;
				}
			}
		}
	}
}