.tabbed_area {
  height: auto;

  ul.tabs {
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;

    li {
      list-style: none;
      display: inline;
      margin: 0 20px;

      a {
        color: $blue;
        padding: 8px 14px 8px 14px;
        text-decoration: none;
        font-size: rem(18);
        font-weight: bold;
        text-transform: uppercase;

        &.active {
          border-bottom: 3px solid $blue;
        }
      }
    }
  }
}
