.table {
	border-collapse: collapse;
	letter-spacing: 1px;
	font-size: .8rem;
	margin: auto;
	border-radius: 20px;
	overflow: hidden;
	border-style: hidden;

	thead {
		background-color: $blue;
		color: $white;
	}

	td {
		text-align: center;
	}

	td,th {
		padding: 10px;
		border: 1px solid rgb(150, 150, 150);
		min-width: 100px;
		height: 25px;
		font-size: rem(15);
	}

	img {
		height: 25px;
		width: auto;
	}

	tr:nth-child(even) {
		background-color: #ddd;
	}

	h3 {
		text-align: center;
	}

	&-dashboard {
		@extend .table;
		width: 90%;
		margin-top: rem(10);
	}

	@for $n from 2 through 4 {
		&-cl-#{$n} {
			td:nth-child(#{$n}){
				width: rem(200);
			}

			td:nth-child(#{$n + 1}), td:nth-child(#{$n + 2}), td:nth-child(#{$n + 3}){
				width: rem(5);
			}
		}
	}
}