@import url(https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Montserrat:400,400i,700,700i&display=swap);* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #F2F2F2;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
}

p {
  line-height: 1.5em;
}

.container {
  width: 100%;
  padding: 0 0.9375rem;
  margin: 0 auto;
  position: relative;
}

.row {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-align: start;
          align-items: flex-start;
}

.col-inner {
  padding: 0.9375rem;
  background-color: grey;
  text-align: center;
}

.container .col-3:nth-child(1) {
  margin-left: -5rem;
}

.container .col-3:nth-child(8) {
  margin-right: -5rem;
}

.col {
  flex-basis: 0;
  -webkit-box-flex: 1;
          flex-grow: 1;
  max-width: 100%;
}

.col-3 {
  flex-basis: 12.5%;
  padding: 0.625rem;
}

.container .col-6:nth-child(1) {
  margin-left: -2.5rem;
}

.container .col-6:nth-child(4) {
  margin-right: -2.5rem;
}

.col-6 {
  flex-basis: 25%;
  padding: 0.625rem;
}

.container .col-12:nth-child(1) {
  margin-left: -0.9375rem;
}

.container .col-12:nth-child(2) {
  margin-right: 0.9375rem;
}

.col-12 {
  flex-basis: 50%;
  padding: 0.3125rem;
}

.col-24 {
  flex-basis: 100%;
}

.clearfix::before {
  content: "";
  display: table;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.vertically-centered {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main > section {
  padding: 2.1875rem 0;
}

textarea {
  resize: none;
}

.bg-modal {
  background-color: rgba(0, 30, 53, 0.6635);
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  position: fixed;
}

.bg-modal-register {
  background-color: rgba(0, 30, 53, 0.6635);
  position: fixed;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.bg-modal form {
  margin-bottom: 1.875rem;
  text-align: center;
}

.bg-modal form input,
textarea {
  width: 55%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 20px;
  background: #d0dfe8;
  text-align: center;
}

.modal-contents {
  height: 70%;
  width: 37%;
  background-color: white;
  text-align: center;
  padding: 20px;
  position: absolute;
  border-radius: 12px;
  position: fixed;
}

.modal-contents-register {
  height: 70%;
  width: 50%;
  background-color: white;
  text-align: center;
  padding: 20px;
  position: absolute;
  border-radius: 12px;
  position: fixed;
}

.popup-close,
.popup-register-close {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 42px;
  color: #333;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

.popup-close:hover,
.popup-register-close:hover {
  color: #666;
}

.form-style-login input[type=text],
.form-style-login input[type=date],
.form-style-login input[type=datetime],
.form-style-login input[type=email],
.form-style-login input[type=number],
.form-style-login input[type=search],
.form-style-login input[type=time],
.form-style-login input[type=url],
.form-style-login input[type=password],
.form-style-login textarea,
.form-style-login select {
  outline: none;
  display: -webkit-box;
  display: flex;
  width: 80%;
  padding: 7px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
  text-align: left;
  margin-left: 10%;
}

#section1 {
  height: 36.25rem;
  background-image: url(/images/apple_home.jpg?5a8d00a86e98bdc4e842e15dfe784d6f);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
}

#section1 .container {
  height: 100%;
  position: relative;
}

#section1 h1 {
  font-weight: 56.25rem;
}

#section1 h2 {
  color: white;
  font-size: 1.875rem;
  padding-bottom: 2.5rem;
}

#section2 div {
  background-color: #FFF;
}

#section2 p {
  font-size: 1.375rem;
  font-style: italic;
  margin: 0 6.25rem 0 3.125rem;
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

.tableau-image {
  padding: 1.875rem 0 1.875rem 1.25rem;
  width: 34.375rem;
  height: 34.375rem;
}

#section3 {
  text-align: center;
  color: #012470;
}

.exemplesite {
  margin: 1.875rem -1.875rem 1.875rem 3.75rem;
  width: 21.875rem;
  height: 15.625rem;
}

#section4 div {
  background-color: #FFF;
  text-align: center;
}

#section4 form {
  margin-bottom: 1.875rem;
  text-align: left;
}

#section4 form input,
textarea {
  width: 55%;
  padding: 0.9375rem;
  margin-bottom: 0.625rem;
  border: none;
  border-radius: 1.25rem;
  background: #d0dfe8;
  text-align: center;
}

#section4 textarea {
  margin-bottom: 1.25rem;
}

#section4 a {
  position: center;
}

#section4 form .input_plus {
  width: 80%;
}

.textarea_plus {
  width: 80%;
}

.button {
  color: #FFF;
  background-color: #000;
  border: 2px solid #FFF;
  border-radius: 1.5625rem;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.button:hover {
  color: #000;
  background-color: #FFF;
  border: 2px solid #000;
}

.button-connexion {
  color: #FFF;
  background-color: #0081C5;
  border: 2px solid #0081C5;
  border-radius: 1.5625rem;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  margin: 0.25em;
  width: 30%;
}

.button-connexion:hover {
  color: #000;
  background-color: #FFF;
  border: 2px solid #0081C5;
}

.button-inscription {
  color: #FFF;
  background-color: #C55100;
  border: 2px solid #C55100;
  border-radius: 1.5625rem;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  margin: 0.25em;
  width: 30%;
}

.button-inscription:hover {
  color: #000;
  background-color: #FFF;
  border: 2px solid #C55100;
}

.button-fb {
  color: #FFF;
  background-color: #3b5998;
  border: 2px solid #3b5998;
  border-radius: 1.5625rem;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  margin: 0.25em;
  width: 65%;
  text-align: center;
}

.button-fb:hover {
  color: #3b5998;
  background-color: #FFF;
  border: 2px solid #3b5998;
}

.button-git {
  color: #FFF;
  background-color: #000;
  border: 2px solid #000;
  border-radius: 1.5625rem;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  margin: 0.25em;
  width: 65%;
  text-align: center;
}

.button-git:hover {
  color: #000;
  background-color: #FFF;
  border: 2px solid #000;
}

.button-gmail {
  color: #FFF;
  background-color: #F14336;
  border: 2px solid #F14336;
  border-radius: 1.5625rem;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  margin: 0.25em;
  width: 65%;
  text-align: center;
}

.button-gmail:hover {
  color: #F14336;
  background-color: #FFF;
  border: 2px solid #F14336;
}

.button-fb img,
.button-gmail img,
.button-git img {
  position: relatif;
  margin: -6px;
  width: 20px;
}

.button-fb > span,
.button-gmail > span,
.button-git > span {
  margin-left: 15px;
}

.logo {
  /*float: left;*/
  position: absolute;
  top: 50%;
  display: inline-block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.logo img {
  padding: 0 0.625rem 0 0.625rem;
  width: 9.375rem;
  height: 3.125rem;
}

header {
  background-color: #000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

header nav {
  float: right;
  color: white;
}

nav a {
  color: #FFF;
  text-decoration: none;
  padding: 1.5em 1em;
  display: inline-block;
}

nav li {
  /*display: inline-block;*/
  float: left;
  list-style: none;
}

nav ul {
  margin: 0;
  padding: 0;
}

header nav a:hover {
  background-color: #ddd;
  color: black;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

footer {
  background-color: #000;
  position: relative;
  color: #FFF;
  padding-top: 0.625rem;
  font-size: 0.9375rem;
  height: 5rem;
}

footer nav {
  margin-top: -0.75rem;
  float: right;
  color: white;
}

footer img {
  width: 1.875rem;
  width: 1.875rem;
}

